<div>
<mat-form-field>
  <input
    matInput
    name="searchInput"
    placeholder="Enter Search here..."
    [(ngModel)]="searchString"
    (keyup.enter)="onSearch()"
  >
</mat-form-field>
<button mat-button (click)="onSearch()" >Search</button>
</div>
<div *ngIf="isLoaded">
<app-repo-tile *ngFor="let repo of searchResults"
  [repoID]=repo.id
  [repoName]=repo.name
  [repoAvatar]=repo.owner.avatar_url >

</app-repo-tile>
</div>
<mat-paginator
[length]="length"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
(page)="onPage($event)"
></mat-paginator>
